<div class="flex flex-col">
    <h5 class="text-base font-semibold">New Person Form</h5>
    <form [formGroup]="form" class="flex flex-col">
        <mat-form-field>
            <mat-label>First Name</mat-label>
            <input
            type="text"
            matInput
            formControlName="firstName"
            >
            <mat-error>"First Name" is a required field.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input
            type="text"
            matInput
            formControlName="lastName"
            >
            <mat-error>"Last Name" is a required field.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Age</mat-label>
            <input
            type="text"
            matInput
            formControlName="age"
            >
            <mat-error>"Age" is missing or invalid.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input
            type="text"
            matInput
            formControlName="email"
            >
            <mat-error>"E-mail" is a required field.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Education</mat-label>
            <mat-select
            formControlName="education"
            >
                <mat-option value="Master's degree">Masters degree</mat-option>
                <mat-option value="Bachelor's degree">Bachelor's degree</mat-option>
                <mat-option value="Some college, no degree">Some college, no degree</mat-option>
                <mat-option value="No formal education">No formal education</mat-option>
            </mat-select>
            <mat-error>"Education" is a required field.</mat-error>
        </mat-form-field>
    </form>
    <button mat-flat-button
    [disabled]="form.invalid"
    color="primary" (click)="onSubmit()">Submit</button>
    <button class="mt-4 bg-gray-300 text-gray-800 font-medium py-2 px-4 rounded hover:bg-gray-400 active:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-offset-2 transition-colors" (click)="onSetValue()">Set Value</button>
</div>